.searchBar{
  width: 100%;
  
}

#locationSearch{
  width: 90%;
}

.distanceFilter{
  width: 60%;
  margin-left: 10%; 
  display: inline-block
}


#searchCard{
  width: 90%;
  background-color: white;
  margin: 0 auto
}

#formSubmit {
  width:20%
}

