@model shopLocalCommonModels.ItemModel
@{
    ViewData["Title"] = "Update Product";
}

<h1>Edit Product</h1>


<form>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" placeholder="@Model.Name"/>
    </div>
</form>
